@import './_base.scss';

body {
    margin: 0px;
}

#app {
    background-image: $app-background;
    padding: 0px;
    margin: 0px;
}

// ------------ Header ------------

.header {
    padding: 20px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s ease-in-out;
}

// Header Link
.header-link {
    @include transition($default-transition-duration);
    background: none;
    border: none;
    font-size: 1em;
    color: $primary-font-color;
    font-family: $primary-font;
    margin: 0px 60px;

    &:hover {
        @include transition($default-transition-duration);
        font-weight: bold;
        color: $primary-dark;
    }

    &:focus {
        outline: none;
        border: none;
    }
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

// Logo
.logo {
    @include image-container(50px, 50px);
}

// ------------ Landing ------------
.hand {
    min-width: 50%;
}

// ------------ About ------------
.phone {
    padding-left: 15%;
    min-width: 125%;
}

// ------------ Services ------------
.package {
    border: .5px solid white;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    margin-left: auto;
    margin-right: auto;
}

.package-content {
    padding: 20%;
}

.package-image {
    max-width: 75%;
}

// ------------ Reviews ------------

.review {
    border: 1px solid $primary-dark;
}

.profile-icon-left {
    position: relative;
    right: 75%;
    min-width: 150%;
}

.profile-icon-right {
    position: relative;
    left: 25%;
    min-width: 150%;
}